.adduser{
    background: url('../../../assets/adduserbgimg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;
}